@media screen and (max-width: 1024px) {
    #nav-bar {
        display: none;
    }

    #nav-hamburger {
        display: flex;
    }

    #hero,
    .timeline-row {
        display: block;
    }

    section {
        height: fit-content;
    }

    section {
        margin: 0 10%;
        height: 100vh;
    }

    .section__pic-container {
        width: 360px;
        height: 360px;
        margin: 0 auto 2rem;
    }

    .section__text,
    .title {
        text-align: center;
    }

    .timeline-col {
        width: 100%;
    }

    .heading {
        justify-content: left;
    }

    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .socials-container {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .title {
        font-size: 2rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .card-wrapper {
        margin: 0 0rem 3rem;
        padding: 0 0rem 1rem;
        overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
        ;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .contact-info-upper-container {
        flex-wrap: wrap;
    }
}