@media screen and (max-width: 1024px) {
    #nav-bar {
        display: none;
    }

    #nav-hamburger {
        display: flex;
    }

    section {
        height: fit-content;
    }

    section {
        margin: 0 10%;
        height: 100vh;
    }

    #hero {
        display: block;
    }

    .hero__pic-container {
        width: 360px;
        height: 360px;
        margin: 0 auto 2rem;
    }

    .hero__text,
    .section__text-title {
        text-align: center;
    }

    .hero__socials {
        justify-content: center;
    }

    .about__timeline-row {
        display: block;
    }

    .about__timeline-col {
        width: 100%;
    }

    .about__timeline-heading {
        justify-content: left;
    }

    .works__item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .modal__body {
        flex-direction: column;
        align-items: center;
    }

    .modal__text,
    .modal__image-container {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar__logo {
        font-size: 1.5rem;
    }

    .navbar__links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .hero__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text-title {
        font-size: 2rem;
    }

    .section__text-p2 {
        font-size: 1.25rem;
    }

    .about__timeline-heading {
        font-size: 1.5rem;
    }

    .works__carousel-wrapper {
        margin: 0 0rem 3rem;
        padding: 0 0rem 1rem;
        overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
        ;
    }

    .tech-container {
        flex-direction: column;
        gap: 0;
    }

    .contact__info-container {
        flex-wrap: wrap;
    }
}