/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p,
li {
    color: grey;
}

/* Container */
.container {
    transition: background-color 0.5s ease;
    height: 100%;
}

.container__area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container__rectangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container__rectangle {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: grey;
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.container__rectangle:nth-child(1) {
    left: 15%;
    width: 70px;
    height: 70px;
    animation-delay: 1s;
}

.container__rectangle:nth-child(2) {
    left: 65%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
}

.container__rectangle:nth-child(3) {
    left: 45%;
    width: 55px;
    height: 55px;
    animation-delay: 1s;
    animation-duration: 20s;
}

.container__rectangle:nth-child(4) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 4s;
}

.container__rectangle:nth-child(5) {
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 30s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    z-index: 10;
}

.navbar__logo-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.navbar__logo:hover {
    cursor: default;
    text-decoration: none;
}

.navbar__dot {
    color: #de5935;
}

.navbar__links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    z-index: 10;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* Hamburger Menu */
#nav-hamburger {
    display: none;
}

.navbar__menu-hamburger {
    position: relative;
    display: inline-block;
}

.navbar__icon-hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
}

.navbar__icon-hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.navbar__icon-hamburger.active span {
    display: none;
}

.navbar__menu-links {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    list-style: none;
    z-index: 1;
}

.navbar__menu-links li {
    margin: 20px 0;
}

.navbar__menu-links li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.navbar__menu-links li a:hover {
    color: grey;
}

.navbar__menu-links.active {
    right: 0;
}

/* Sections */
section {
    height: 96vh;
    margin: 0 10rem;
    block-size: border-box;
    min-height: fit-content;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: calc(100vh - 160px);
}

.hero__pic-container {
    display: flex;
    height: 360px;
    width: 360px;
    margin: auto 0;
}

.hero__text {
    align-self: center;
    text-align: left;
}

.hero__text p {
    font-weight: 600;
}

.section__text-p1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

/* Typewriter & Appear Animation */
.section__text-title {
    text-align: center;
    font-size: 3rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.type {
    text-align: left;
    display: inline-block;
    max-width: fit-content;
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
    width: 100%;
    animation: typing 2s steps(18, end), cursor 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.hero__socials {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    gap: 1rem;
}

.hero__icon {
    cursor: pointer;
    height: 2rem;
    transition: all 0.3s ease;
}

.hero__icon:hover {
    transform: scale(1.25);
}

/* About Section */
.about {
    position: relative;
}

.section__text-p2 {
    padding-top: 4vh;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.about__timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 4rem;
}

.about__timeline-row {
    display: flex;
}

.about__timeline-col {
    width: 50%;
}

.about__timeline-heading {
    font-size: 2.5rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.about__timeline-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 0.25rem solid black;
    margin-left: 2rem;
}

.about__timeline-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin-left: 2rem;
    backdrop-filter: blur(20px);
    border: 0.1rem solid lightgrey;
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.3s ease;
    cursor: pointer;
}

.about__timeline-content:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border: 0.1rem solid black;
}

.about__timeline-date {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
}

.about__timeline-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    left: -48px;
    top: 50%;
    transform: translateY(-50%);
}

.about__timeline-title {
    font-size: 1.25rem;
    font-weight: 600;
}

box-icon {
    height: 48px;
    width: 48px;
}

box-icon[name="calendar"] {
    height: 28px;
    width: 28px;
}

/* Work Section */
#works {
    position: relative;
    height: 100vh;
}

.works__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.works__carousel-wrapper {
    margin: 0 3rem 3rem;
    padding: 0 1rem 1rem;
    overflow: hidden;
}

.works__item {
    background-color: white;
    color: black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: block;
    width: 100%;
}

.works__item:hover {
    cursor: pointer;
}

.works__item-image img {
    width: 100%;
    height: auto;
    display: block;
}

.works__item-content {
    padding: 1.5rem;
    flex-grow: 1;
}

.works__item-title {
    font-size: 1.5rem;
}

.works__item-tags {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.5rem 0;
}

.works__item-tags::-webkit-scrollbar {
    display: none;
}

.works__item-tags {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.works__item-tags span {
    padding: 0.5rem 1rem;
    color: grey;
    border: grey 0.1rem solid;
    border-radius: 0.5rem;
    border-color: black;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    font-weight: 600;
}

.works__item-tags span:hover {
    background: black;
    color: white;
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
    color: black !important;
}

.swiper .swiper-pagination-bullet {
    background-color: black !important;
}

/* Work Section - Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal__content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 80vw;
    max-height: 80vh;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.modal.show .modal__content {
    transform: scale(1);
    opacity: 1;
}

.modal__close {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: grey;
    transition: transform 0.3s ease, color 0.3s ease;
}

.modal__close:hover {
    color: black;
    transform: scale(1.25);
}

.modal__body {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.modal__text {
    width: 45%;
    overflow-y: auto;
    text-align: justify;
}

.tech-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.tech-section {
    flex: 1;
}

.modal__text h1 {
    color: black;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.modal__text h2 {
    color: grey;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.modal__text i {
    cursor: pointer;
    font-size: 1.75rem;
    transition: all 0.3s ease;
}

.modal__text i:hover {
    transform: scale(1.25);
}

box-icon[name="check-circle"] {
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
    transition: all 0.3s ease;
}

box-icon[name="check-circle"]:hover {
    transform: scale(1.25);
}

.modal__text li {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.modal__image-container {
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.modal__content img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 2rem auto;
}

/* Contact Section */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 160px);
}

.contact__info-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contact__info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: grey 0.1rem solid;
    border-radius: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 35%;
}

.contact__info-item:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    filter: grayscale(0%);
}

.contact__info-link {
    color: grey;
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Footer Section */
.footer {
    height: 160px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__powered-by {
    box-sizing: content-box;
    display: flex;
}

.footer__powered-by-text {
    font-size: 1.25rem;
    text-align: center;
    display: block;
}

.footer__powered-by-words {
    overflow: hidden;
}

.footer__powered-by-word {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    display: block;
    height: 100%;
    padding-left: 4px;
    color: black;
    animation: spin_words 8s infinite;
}

@keyframes spin_words {
    16% {
        transform: translateY(-100%);
    }

    33% {
        transform: translateY(-100%);
    }

    49% {
        transform: translateY(-200%);
    }

    66% {
        transform: translateY(-200%);
    }

    83% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-300%);
    }
}